//
// Base styles, fluid rem size, box sizing
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
html {
	box-sizing: border-box;
	font-size: 12px;

	@include ms-respond(font-size, 0, $fluid-rem);

	* {
		box-sizing: inherit;
		-webkit-font-smoothing: antialiased;
	}
}

//
// Typography
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}


p {
	@extend .typo--base;
	padding-bottom: 2rem;

	&:last-of-type {
		padding-bottom: 0;
	}
}

.typo--base {
	font-family: $worksans;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.0025em;
	@include align-to-baseline( 1.5rem, 2rem, $worksans-cap-height );
}

.typo--strong {
	@extend .typo--base;
	font-weight: 600;
}

.typo--small {
	padding-top: 1rem;
	font-family: $worksans;
	font-size: 1.1667rem;
	line-height: 1.5rem;
	@include align-to-baseline( 1.1667rem, 1.5rem, $worksans-cap-height );
}

.typo--title {
	font-family: $volkhov;
	font-weight: 700;
	line-height: 1;
}

.typo--page-title {
	@extend .typo--title;
	font-size: 5rem;
	line-height: 5rem;
	@include align-to-baseline( 5rem, 5rem, $volkhov-cap-height );
}

.typo--section-title {
	@extend .typo--title;
	font-size: 3rem;
	line-height: 3rem;
	@include align-to-baseline( 3rem, 3rem, $volkhov-cap-height );
}

.typo--small-section-title {
	@extend .typo--title;
	font-size: 2rem;
	line-height: 2rem;
	@include align-to-baseline( 2rem, 2rem, $volkhov-cap-height );
}

.typo--button {
	@extend .typo--base;
}

.typo--nav-link {
	@extend .typo--base;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: border-color .2s;

	&:hover {
		// border-color: lighten($dark-grey, 70%);
		border-color: $dark-grey;
	}
}

.typo--link {
	@extend .typo--base;
	text-decoration: none;
	color: $dark-grey;
	transition: color .2s;
	mix-blend-mode: multiply;

	&:hover {
		color: lighten($dark-grey, 50%);
	}
}

.typo--link--underline {
	@extend .typo--base;
	color: $dark-grey;
	transition: color .2s;
	mix-blend-mode: multiply;

	&:hover {
		color: lighten($dark-grey, 50%);
	}
}

.typo--link--dark {
	@extend .typo--base;
	text-decoration: none;
	color: #fff;
	transition: color .2s;

	&:hover {
		color: darken(#fff, 50%);
	}
}


// Buttons
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.button {
	display: inline-block;
	padding: 1.5rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: transparent;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s;

	&:hover {
		border-color: transparent;
		background-color: rgba(255, 255, 255, 0.1);
		// color: $dark-grey;
	}

	&.button--dark {
		color: $dark-grey;
		border-color: $dark-grey;
		// mix-blend-mode: multiply;

		&:hover {
			color: #fff;
			border-color: transparent;
			background-color: $dark-grey;
		}
	}
}

// SVG Icons
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
#svg-sprite {
	display: none;
}
