.front-page {
	.site-header {
		background-color: $green;
		// box-shadow: none;
	}
}

.page-banner--front {
	background-color: $green;

	.container {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 36px;

		div {
			grid-column: 1/5;
		}

		div + div {
			position: relative;
			grid-column: 6/7;
			border-radius: 50%;
			height: 0;
			padding-bottom: 100%;
			background-color: $dark-grey;
			border: 1px solid $dark-grey;
			text-align: center;
			margin-top: 5rem;

			a {
				position: absolute;
				top: 50%;
				width: 100%;
				transform: translateY(-50%);
				text-decoration: none;
				display: block;
				color: #fff;
			}
		}
	}

	.page-title {
		padding-top: 6rem;
		font-size: 4rem;
		line-height: 4rem;
		@include align-to-baseline( 4rem, 4rem, $volkhov-cap-height );
		padding-bottom: 3rem;
	}

}

.news-events {
	margin-top: -17rem;
	padding-bottom: 6rem;

	.container {
		display: grid;
		grid-template: auto auto / 1fr 1fr;
		grid-column-gap: 3rem;
	}

	.hero {
		margin-bottom: 5rem;
	}
}

.front-page-news .see-all,
.front-page-events .see-all {
	float: right;
}

.front-page-news .page-section-title,
.front-page-events .page-section-title {
	padding-bottom: 3rem;
}

.front-page-news .news-cards {
	display: block;
	padding: 0;
}

.news-card.news-card--front-page {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	padding: 1rem 0;
	border-top: 1px solid lighten(#000, 80%);
	overflow: hidden;

	.news-card__link {
		overflow: hidden;
	}

	.news-card__image {
		float: left;
		width: 33%;
		padding-bottom: 32%;
		margin-right: 2rem;
	}

	.news-card__hed {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.front-page-events {
	.event-cards {
		display: grid;
		grid-template: auto auto / 1fr 1fr;
		grid-gap: 1rem;
		padding-top: 1rem;
		border-top: 1px solid lighten(#000, 80%);
	}
}

.event-card--front-page {
	> .event-card__link {
		height: 26rem;
	}

	&.include-image {
		> .event-card__link {
			grid-gap: 1rem;
		}
	}

	.event-card__hed {
		@extend .typo--small-section-title;
	}
}

.support-the-foundation {
	background-color: $brown;

	.container {
		display: grid;
		grid-template: auto auto / 1fr 1fr;
		grid-column-gap: 3rem;
	}

	.section-image {
		background-color: $light-grey;
	}
}

.front-page-support-buttons {
	display: grid;
	grid-template: auto auto / 1fr 1fr;
	grid-gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 3rem 0 0.5rem 0;

	> li > a {
		display: block;
	}
}
