// BG / Text Colors / Baseline Grid
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
body {
	color: $dark-grey;

	// show baseline
	background-image: linear-gradient(rgba(255, 0, 0, 0.25) 1px, transparent 1px);
	background-size: 1px $baseline;
}

// Page layout
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
.container {
	width: 1260px;
	margin: 0 auto;
}

.content {
	padding-top: 10rem;
}


// Header
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@include breakpoint($desktop-hd) {
	.site-header {
		position: fixed;
		width: 100%;
		background: #fff;

		.container {
			display: grid;
			grid-template-rows: 10rem;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 3rem;
		}
	}

	.logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.site-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.site-nav__link {
		color: $dark-grey;

		&.active {
			border-color: $dark-grey;
		}
	}

}

// Page Banner
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
@include breakpoint($desktop-hd) {
	.page-banner {
		height: 44rem;
		background: #efefef;

		.container {
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 36px;
		}
	}

	.page-title {
		padding-top: 9rem;
	}

	.page-description {
		padding-top: 10rem;
	}
}




// Page Imports
//–––––––––––––––––––––––––––————————————————————————————–––––––––––––––––––––––
/* stylelint-disable */
@import 				"footer",
						"panels",
						"programs",
						"support";
/* stylelint-enable */
