.news-page {
	.site-nav__link.active {
		border-color: $yellow;
	}

	.page-banner {
		background-color: $yellow;
	}
}

.hero--news {

	.hero__image {
		left: calc(33.333% - 0.75rem);
	}

	.hero__card {
		position: absolute;
		top: 0rem;
		left: 0rem;
		bottom: 0rem;
		right: calc(66.667% + 0.75rem);
		color: #fff;
		background-color: $dark-grey;
		transition: all 0.2s ease-out;

		> a {
			display: flex;
			flex-flow: row wrap;
			color: inherit;
			text-decoration: none;
			height: 100%;
			padding: 1.5rem;

			.hero__card__copy > h3 + p {
				padding-top: 1rem;
			}

			> p {
				align-self: flex-end;
				padding-bottom: 1rem;
				transition: all 0.2s ease-out;
			}
		}

		.category {
			margin-top: 0;
			text-transform: uppercase;
			text-decoration: underline;
		}

		&:hover {
			background-color: lighten($dark-grey, 8%);

			> a > p {
				transform: translateX(0.5rem);
			}
		}
	}
}


.archive--news {
	background-color: $yellow;
}

.latest-news {
	margin-top: -24rem;
}

.news-cards {
	display: grid;
	grid-template: auto auto auto / 1fr 1fr 1fr;
	grid-gap: 3rem;
	padding: 3rem 0;
}

.news-card {
	position: relative;
	padding-bottom: 4rem;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		background: lighten(#000, 80%);
		left: -1.5rem;
	}

	&:nth-child(3n+1) {
		&::before {
			display: none;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: -1.5rem;
			left: 0;
			width: calc(300% + 6rem);
			height: 1px;
			background: lighten(#000, 80%);
		}
	}
}

.news-card__link {
	display: block;
	color: inherit;
	text-decoration: none;
}

.news-card__image {
	background-color: $light-grey;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.news-card:hover .news-card__image {
	opacity: 0.65;
}

.news-card__hed {
	padding-top: 2rem;
}

.news-card:hover .news-card__hed {
	text-decoration: underline;
}

.news-card p:last-child {
	transform: translateX(0);
	transition: all .3s ease-out;
}

.news-card:hover p:last-child {
	transform: translateX(0.5rem);
}

.news-card__category {
	text-transform: uppercase;
	text-decoration: underline;
}

.news-card__category + .news-card__hed {
	padding-top: 0;
}
