
.news-article {
	padding: $baseline * 4 0;
}

.news-article > .container {
	display: grid;
	grid-template: auto auto auto auto / 2fr 7fr 3fr;
	grid-gap: 3rem;
}

.article-header {
	grid-column: 1 / span 3;
	grid-row: 1 / span 1;

	display: grid;
	grid-template: auto auto / 9fr 1fr 2fr;
	grid-gap: 3rem;
}

.article-hed {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}

.article-dek {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	font-weight: normal;
}

.article-social-share {
	grid-column: 3 / span 1;
	grid-row: 1 / span 2;
}

.article-tags {
	grid-column: 1 / span 3;
	grid-row: 2 / span 1;
}

.article-lead-image {
	grid-column: 1 / span 3;
	grid-row: 3 / span 1;

	img {
		width: 100%;
		min-height: 200px;
	}
}
