.panels {
	margin-top: -24rem;
}

.panel {
	width: calc(50% - 0.75rem);
	padding: 3rem 3rem 4rem 3rem;
	margin-bottom: 1.5rem;
	float: left;
	color: #fff;
	background: $dark-grey;

	&.wide {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		float: none;
		// display: grid;
		// grid-template-rows: auto;
		// grid-template-columns: 1fr 1fr;
		// grid-column-gap: 36px;

		> div {
			width: 50%;

			&.panel__primary {
				padding-right: 1.5rem;
			}

			&.panel__secondary {
				padding-left: 1.5rem;
			}
		}

		&.swap {
			.panel__primary {
				order: 2;
				padding-right: 0;
				padding-left: 1.5rem;
			}

			.panel__secondary {
				order: 1;
				padding-left: 0;
				padding-right: 1.5rem;
			}
		}
	}
}

.panel:not(.wide) + .panel:not(.wide) {
	margin-left: 1.5rem;
}

.panel__title + p {
	padding-top: 3rem;
}

.panel__title ~ p:last-of-type {
	padding-bottom: 1rem;
}

.panel__button {
	margin-top: 4rem;
}

.panel__footnote {
	@extend .typo--small;
	display: block;
	color: darken(#fff, 50%);
	padding-top: 2rem;
}

.panel__table {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.panel__table-row {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	overflow: hidden;

	&:last-of-type {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	> p {
		padding: 0;
		margin: 0;
	}

	> p:nth-child(1) {
		float: left;
	}

	> p:nth-child(2) {
		float: right;
	}
}

.panel__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.panel__list-item {
	padding: 1rem 0 2rem;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	overflow: hidden;

	&:last-of-type {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	> h4 {
		margin-top: 0;
	}
}

.previous-performers {
	list-style: none;
	padding: 0;
	margin: 3rem 0 0 0;

	li {
		width: calc(50% - 1.5rem);
		float: left;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-top: -1px;
		border-top: 1px solid #535353;
		border-bottom: 1px solid #535353;

		&:nth-child(2n+2) {
			margin-left: 3rem;
		}

		> p {
			margin: 0;
		}
	}
}

.panel__image {
	width: 100%;
	height: 100%;
	background: $light-grey;
}
