.support-page {
	.site-nav__link.active {
		border-color: lighten($red, 5%);
	}

	.page-banner {
		background-color: lighten($red, 5%);
	}
}

.support-panels .panel:not(.wide) {
	min-height: 38rem;
}

.support-panels .panel:nth-child(3) {
	padding-bottom: 6rem;
}
