<article class="event-card
				{% if include.classModifier %}event-card--{{ include.classModifier }}{% endif %}
				{% if include.image and include.image != '' %}include-image{% endif %}">

	<a class="event-card__link" href="{{ include.url }}">
		<div class="event-card__copy">
			<h4 class="event-card__hed typo--small-section-title">{{ include.title }}</h4>
			<div class="event-card__info">
				<p><time>{{ include.start | date: "%B %d, %Y" }}</time></p>
				<p><time>{{ include.end | date: "%B %d, %Y" }}</time></p>
				<!-- <p><time>{{ include.end| date: "%I:%M" }}</time></p> -->
				<p>Learn more &rarr;</p>
			</div>
		</div>
		{% if include.image and include.image != '' %}
			<div class="event-card__image">{{ include.image }}</div>
		{% endif %}
	</a>

</article>
