<article class="event-card
				{% if include.classModifier %}event-card--{{ include.classModifier }}{% endif %}
				{% if include.image and include.image != '' %}with-image{% endif %}">

	<a class="event-card__link" href="{{ include.url }}">
		<div class="event-card__copy">
			<h4 class="event-card__hed">{{ include.title }}</h4>
			<div class="event-card__info">
				{% assign startDate = include.start | date: "%B %d, %Y" %}
				{% assign endDate = include.end | date: "%B %d, %Y" %}
				{% if startDate == endDate %}
					<p><time>{{ include.start | date: "%B %e" }}<br>{{ include.start | date: "%l:%M %P" }}&ndash;{{ include.end | date: "%l:%M %P" | strip }}</time></p>
				{% else %}
					{% if include.start | date: "%B" == include.end | date: "%B" %}
						<p><time>{{ include.start | date: "%B %e" }}&ndash;{{ include.end | date: "%e" }}<br>{{ include.start | date: "%l:%M %P" }}&ndash;{{ include.end | date: "%l:%M %P" | strip }}</time></p>
					{% else %}
						<p><time>{{ include.start | date: "%B %e" }}&ndash;{{ include.end | date: "%B %e" }}<br>{{ include.start | date: "%l:%M %P" }}&ndash;{{ include.end | date: "%l:%M %P" | strip }}</time></p>
					{% endif %}
				{% endif %}
				<p class="event-card__cta">Learn more &rarr;</p>
			</div>
		</div>
		{% if include.image and include.image != '' %}
			<div class="event-card__image" style="background-image: url({{ include.image }});"></div>
		{% endif %}
	</a>

</article>
