{% include footer-sponsors.html %}
<footer class="site-footer">
	<div class="container">
		<nav class="footer__nav">
			<a class="typo--link--dark" href="/new">Latest News</a>
			<a class="typo--link--dark" href="/events">Upcoming Events</a>
			<a class="typo--link--dark" href="/programs">Programs</a>
			<a class="typo--link--dark" href="/about">About HCAEF</a>
			<a class="typo--link--dark" href="/support">Support Us</a>
			<a class="typo--link--dark" href="/about#contact">Contact Us</a>
		</nav>
		<div class="footer__extra">
			<a class="button typo--button" href="#">Subscribe to our newsletter &rarr;</a>
			<div class="footer__social-links">
				<a class="footer_twitter" href="#">
					{% include icons/twitter_icon.svg %}
				</a>
				<a class="footer_facebook" href="#">
					{% include icons/facebook_icon.svg %}
				</a>
				<a class="footer_instagram" href="#">
					{% include icons/instagram_icon.svg %}
				</a>
				<a class="footer_linkedin" href="#">
					{% include icons/linkedin_icon.svg %}
				</a>
			</div>
		</div>
		<div class="footer__logo">
			<a href="/">
				{% include icons/footer-logo.svg %}
			</a>
		</div>
		<p class="footer__copyright typo--small">Copyright © 2018 Harney County Arts in Education Foundation. All rights reserved. HCAEF is a 501(c)(3) non-profit organization. <span class="site-credit">Site by <a href="http://austinmaurer.co">Austin</a> & <a href="http://emilymaurer.co">Emily Maurer</a>.</span></p>
	</div>
</footer>
