<header class="site-header">
	<div class="container">
		<h1 class="logo">
			<a href="/">Logo</a>
		</h1>
		<nav class="site-nav">
			{% assign sitePages = site.pages | sort: 'position' %}
			{% for p in sitePages offset: 1 %}
				<a class="site-nav__link {% if page.url == p.url %}active{% endif %}" href="{{ p.url }}">
					{% if p['Navigation Title'] and p['Navigation Title'] != '' %}
						{{ p['Navigation Title'] }}
					{% else %}
						{{ p.title }}
					{% endif %}
				</a>
			{% endfor %}
		</nav>
	</div>
</header>

{% comment %}
<!-- <a href="/events">Events</a>
<a href="/news">News</a>
<a href="/programs">Programs</a>
<a href="/about">About</a>
<a href="/support">Support</a> -->
{% endcomment %}
