{% assign post = include.post %}

{% if include.type == 'news' %}
	<article class="hero hero--news">
			<!-- <div class="hero__image" style="background-image: url({{ post['Image'] }});" role="image" aria-label="{{ post['Image Caption'] }}"></div> -->
			<div class="hero__image image-cover">
				<img src="{{ post['Image'] }}" alt="{{ post['Image Caption'] }}" />
			</div>
			<div class="hero__card">
				<a href="{{ post.url }}">
					<div class="hero-card__info">
						{% if post['Category'] and post['Category'] != '' %}
							<p class="category">{{ post['Category'] }}</p>
						{% endif %}
						<h3 class="typo--section-title">{{ post.title }}</h3>
						<p>{{ post['Description'] }}</p>
					</div>
					<p class="hero__cta">Continue reading &rarr;</p>
				</a>
			</div>
	</article>
{% elsif include.type == 'event' %}
	<article class="hero hero--event">
		<!-- <div class="hero__image" style="background-image: url({{ post['Image'] }});" role="image" aria-label="{{ post['Image Caption'] }}"></div> -->
		<div class="hero__image image-cover">
			<img src="{{ post['Image'] }}" alt="{{ post['Image Caption'] }}" />
		</div>
		<div class="hero__card">
			<a class="event-card__link" href="{{ post.url }}">
				<div class="event-card__copy">
					<h4 class="event-card__hed">{{ post.title }}</h4>
					<div class="event-card__info">
						{% assign startDate = post['Event Start Date'] | date: "%B %d, %Y" %}
						{% assign endDate = post['Event End Date'] | date: "%B %d, %Y" %}
						{% if startDate == endDate %}
							<p><time>{{ post['Event Start Date'] | date: "%B %e" }}<br>{{ post['Event Start Date'] | date: "%l:%M %P" }}&ndash;{{ post['Event End Date'] | date: "%l:%M %P" | strip }}</time></p>
						{% else %}
							{% if post['Event Start Date'] | date: "%B" == post['Event End Date'] | date: "%B" %}
								<p><time>{{ post['Event Start Date'] | date: "%B %e" }}&ndash;{{ post['Event End Date'] | date: "%e" }}<br>{{ post['Event Start Date'] | date: "%l:%M %P" }}&ndash;{{ post['Event End Date'] | date: "%l:%M %P" | strip }}</time></p>
							{% else %}
								<p><time>{{ post['Event Start Date'] | date: "%B %e" }}&ndash;{{ post['Event End Date'] | date: "%B %e" }}<br>{{ post['Event Start Date'] | date: "%l:%M %P" }}&ndash;{{ post['Event End Date'] | date: "%l:%M %P" | strip }}</time></p>
							{% endif %}
						{% endif %}
						<p class="event-card__cta">Learn more &rarr;</p>
					</div>
				</div>
			</a>
		</div>
	</article>
{% endif %}
