{% assign post = include.post %}

<article class="news-card {% if include.classModifier %}news-card--{{ include.classModifier }}{% endif %} {% if post['Image'] and post['Image'] != '' %}with-image{% endif %}">
	<a class="news-card__link" href="{{ post.url }}">
		{% if post['Image'] and post['Image'] != '' %}
			<!-- <div class="news-card__image" style="background-image: url({{ post['Image'] }});" role="image" aria-label="{{ post['Image Caption'] }}"></div> -->
			<div class="news-card__image image-cover">
				<img src="{{ post['Image'] }}" alt="{{ post['Image Caption'] }}" />
			</div>
		{% endif %}
		<div class="news-card__info">
			{% if post['Category'] and post['Category'] != '' %}
				<p class="news-card__category">{{ post['Category'] }}</p>
			{% endif %}
			<h4 class="news-card__hed typo--small-article-title">{{ post.title }}</h4>
			{% if post['Subtitle'] and post['Subtitle'] != '' %}
				<p class="news-card__dek">{{ post['Subtitle'] }}</p>
			{% endif %}
			<p class="news-card__cta">Continue reading &rarr;</p>
		</div>
	</a>
</article>
