<article class="news-card {% if include.classModifier %}news-card--{{ include.classModifier }}{% endif %} {% if include.image and include.image != '' %}with-image{% endif %}">
	<a class="news-card__link" href="{{ include.url }}">
		{% comment %}{% if include.cat and include.cat != '' %}
			<p class="news-card__category">{{ include.cat }}</p>
		{% endif %}{% endcomment %}
		{% if include.image and include.image != '' %}
			<div class="news-card__image" style="background-image: url({{ include.image }});"></div>
		{% endif %}
		<div class="news-card__info">
			{% if include.cat and include.cat != '' %}
				<p class="news-card__category">{{ include.cat }}</p>
			{% endif %}
			<h4 class="news-card__hed typo--small-article-title">{{ include.hed }}</h4>
			{% if include.dek and include.dek != '' %}
				<p class="news-card__dek">{{ include.dek }}</p>
			{% endif %}
			<p class="news-card__cta">Continue reading &rarr;</p>
		</div>
	</a>
</article>
