<section class="panels {{ include.class }}-panels">
	<div class="container">
		{% for panel in include.panels %}
			<article id="{{ panel.title | downcase | replace: ' ', '-' }}" class="panel {{ panel.title | downcase | replace: ' ', '-' }}
							{% if panel['Image First?'] %}swap{% endif %}
							{% if panel['Image'] and panel['Image'] != '' %}
								wide
							{% elsif panel['List (expanded)'] and panel['List (expanded)'].size > 0 and panel['List (expanded)'][0]['Item Title'] != '' %}
								wide
							{% elsif panel['Table'] and panel['Table'].size > 0 and panel['Table'][0][0] != '' %}
								wide
							{% endif %}">

				<div class="panel__primary">
					<h3 class="panel__title typo--section-title">{{ panel.title }}</h3>
					{{ panel.content }}

					{% comment %}
					*
					* If a Button Title and URL are provided, insert the button.
					*
					{% endcomment %}
					{% if panel['Button'][0]['Title'] != '' and panel['Button'][0]['URL'] != '' %}
						<a class="button panel__button typo--button" href="{{ panel['Button'][0]['URL'] }}">{{ panel['Button'][0]['Title'] }} &rarr;</a>
					{% endif %}

					{% comment %}
					*
					* Custom module for the Performing Groups section. Inserts
					* list of Previous Performers.
					*
					{% endcomment %}
					{% if panel['List (single)'] and panel['List (single)'].size > 0 and panel['List (single)'][0]['Item'] != '' %}
						<ul class="list--single">
							{% for p in panel['List (single)'] %}
								<li><p>{{ p['Item'] }}</p></li>
							{% endfor %}
						</ul>
					{% endif %}

					{% comment %}
					*
					* If a Footnote is provided, insert the footnote.
					*
					{% endcomment %}
					{% if panel['Footnote'] and panel['Footnote'] != '' %}
						<span class="panel__footnote">{{ panel['Footnote'] }}</span>
					{% endif %}
				</div>

				{% comment %}
				*
				* If a List is provided, insert the list. Otherwise,
				* if an Image is provided, insert the image. If neither
				* is provided, insert nothing.
				*
				{% endcomment %}
				{% if panel['List (expanded)'] and panel['List (expanded)'].size > 0 and panel['List (expanded)'][0]['Item Title'] != '' %}
					<div class="panel__secondary">
						<ul class="panel__list">
							{% for item in panel['List (expanded)'] %}
								<li class="panel__list-item">
									<h4 class="typo--strong">{{ item['Item Title'] }}</h4>
									<p>{{ item['Item Description'] }}</p>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% elsif panel['Table'] and panel['Table'].size > 0 and panel['Table'][0][0] != '' %}
					<div class="panel__secondary">
						<ul class="panel__table">
							{% for row in panel['Table'] %}
								<li class="panel__table-row">
									{% for col in row %}
									{% assign i = forloop.index %}
										<p class="col-{{ i }}">{{ col }}</p>
									{% endfor %}
								</li>
							{% endfor %}
						</ul>
					</div>
				{% elsif panel['Image'] and panel['Image'] != '' %}
					<div class="panel__secondary">
						<div class="panel__image" style="background-image: url({{ panel['Image'] }});"></div>
					</div>
				{% endif %}

			</article>
		{% endfor %}
	</div>
</section>
