---
layout: default
classes: about-page
---

{% comment %}
*
* ABOUT US SECTION
*
{% endcomment %}
<section class="about-us">
	<div class="container">
		<div class="hero">
			<div class="hero__image image-cover">
				<img src="{{ page['Hero Image'] }}" />
			</div>
		</div>
		<h3 class="about-us__intro typo--small-section-title">{{ page['About Us Intro'] }}</h3>
		<p class="about-us__copy">{{ page['About Us Text'] }}</p>
	</div>
</section>

{% comment %}
*
* OUR PROGRAMS
*
{% endcomment %}
<section class="our-programs page-section page-section--2col">
	<div class="container">
		<div class="col">
			<h3 class="page-section-title typo--section-title">{{ page['Programs Section Title'] }}</h3>
			<p class="our-programs__copy">{{ page['Programs Section Text'] }}</p>
		</div>
		<ul class="programs__link-list">
			{% assign programs = site.programs | sort:'position' %}
			{% for item in programs limit: 4 %}
				<li><a class="typo--small-section-title" href="/programs/#{{ item.title | downcase | replace: ' ', '-' }}"><span>{{ item.title }}</span></a></li>
			{% endfor %}
		</ul>
	</div>
</section>

{% comment %}
*
* CTA
*
{% endcomment %}
<section class="cta page-section">
	<div class="container">
		<h4 class="cta__copy typo--small-section-title">{{ page['Call to Action'] }} </h4>
		<a class="cta__link typo--small-section-title typo--link" href="{{ page['CTA URL'] }}">{{ page['CTA Link Title'] }} &rarr;</a>
	</div>
</section>

{% comment %}
*
* OUR HISTORY
*
{% endcomment %}
<section class="our-history page-section">
	<div class="container">
		<div class="our-history__copy">
			<h3 class="page-section-title typo--section-title">{{ page['Our History Title'] }}</h3>
			{{ page['Our History Text'] | markdownify }}
		</div>
		<ul class="hcaef-stats">
			{% for stat in page['Historical Stats'] %}
			<li class="hcaef-stat">
				<div class="hcaef-stat__num">{{ stat['Number'] }}</div>
				<p class="hcaef-stat__copy">{{ stat['Label'] }}</p>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="container historical-highlights">
		<h3 class="page-section-title historical-highlights__title typo--section-title">{{ page['Historical Highlights Title'] }}</h3>
		{% for hilite in page['Historical Highlights'] limit: 2 %}
			<div class="col historical-highlight">
				<div class="historical-highlight__image image-cover"><img src="{{ hilite['Image'] }}" /></div>
				<div class="historical-highlight__caption">
					<h4 class="typo--strong">{{ hilite['Caption Title'] }}</h4>
					<p>{{ hilite['Caption'] }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

{% comment %}
*
* BOARD & CONTACT
*
{% endcomment %}
<section id="contact" class="contact page-section">
	<div class="container">
		<h3 class="page-section-title typo--section-title">{{ page['Board & Contact Title'] }}</h3>
		<ul class="board-members">
			{% assign board-members = site.team-members | where: 'Is Board Member?', true %}
			{% for mem in board-members %}
			<li class="board-member">
				<div class="board-member__image image-cover">
					<img src="{{ mem['Image'] }}" />
				</div>
				<h4 class="typo--small-section-title">{{ mem.title }}</h4>
				<p>{{ mem['Position Title'] }}
					{% if mem['Email Address'] and mem['Email Address'] != '' %}
						<br><a class="typo--link--underline" href="mailto:{{ mem['Email Address'] }}">Contact</a>
					{% endif %}
				</p>
			</li>
			{% endfor %}
		</ul>
		<div class="other-contact-info">
			<ul class="other-members">
				{% assign other-members = site.team-members | where: 'Is Board Member?', false %}
				{% for mem in other-members %}
				<li>
					<h5 class="typo--strong">{{ mem.title }}</h5>
					<p>{{ mem['Position Title'] }}</p>
				</li>
				{% endfor %}
			</ul>
			<p>{{ page['Contact Info Blurb'] }}</p>
			<address class="hcaef-contact-info typo--base">
				{{ page['HCAEF Mailing Address'] | markdownify }}
				<br>
				<a class="typo--link--underline" href="mailto:{{ page['HCAEF Email Address'] }}">{{ page['HCAEF Email Address'] }}</a>
			</address>
		</div>
	</div>
</section>
