---
layout: default
classes: events-page
---

{% assign currentYear = 'now' | date: '%Y' | times: 1 %}
{% assign currentMonth = 'now' | date: '%m' | times: 1 %}
{% assign currentDay = 'now' | date: '%d' | times: 1 %}
{% assign pastEvents = '' | split: '' %}
{% assign currentEvents = '' | split: '' %}
{% for event in site.events %}
	{% assign year = event['Event Start Date'] | date: '%Y' | times: 1 %}
	{% assign month = event['Event Start Date'] | date: '%m' | times: 1 %}
	{% assign day = event['Event Start Date'] | date: '%d' | times: 1 %}

	{% if year > currentYear and event['Is Featured?'] == false %}
		{% assign currentEvents = currentEvents | push: event %}
	{% elsif year == currentYear and month > currentMonth and event['Is Featured?'] == false %}
		{% assign currentEvents = currentEvents | push: event %}
	{% elsif year == currentYear and month == currentMonth and day >= currentDay and event['Is Featured?'] == false %}
		{% assign currentEvents = currentEvents | push: event %}
	{% elsif event['Is Featured?'] == true %}
		{% assign featuredEvent = event %}
	{% else %}
		{% assign pastEvents = pastEvents | push: event %}
	{% endif %}

{% endfor %}

<section class="upcoming-events">
	<div class="container">
		<article class="hero">
			<div class="hero__image" style="background-image: url({{ featuredEvent['Event Image'] }});"></div>
			<div class="hero__card event-card">
				<a class="event-card__link" href="{{ featuredEvent.url }}">
					<div class="event-card__copy">
						<h3 class="event-card__hed">{{ featuredEvent.title }}</h3>
						<div class="event-card__info">
							{% assign startDate = featuredEvent['Event Start Date'] | date: "%B %d, %Y" %}
							{% assign endDate = featuredEvent['Event End Date'] | date: "%B %d, %Y" %}
							{% if startDate == endDate %}
								<p><time>{{ featuredEvent['Event Start Date'] | date: "%B %e" }}<br>{{ featuredEvent['Event Start Date'] | date: "%l:%M %P" }}&mdash;{{ featuredEvent['Event End Date'] | date: "%l:%M %P" | strip }}</time></p>
							{% else %}
								{% if featuredEvent['Event Start Date'] | date: "%B" == featuredEvent['Event End Date'] | date: "%B" %}
									<p><time>{{ featuredEvent['Event Start Date'] | date: "%B %e" }}&mdash;{{ featuredEvent['Event End Date'] | date: "%e" }}</time></p>
								{% else %}
									<p><time>{{ featuredEvent['Event Start Date'] | date: "%B %e" }}&mdash;{{ featuredEvent['Event End Date'] | date: "%B %e" }}</time></p>
								{% endif %}
							{% endif %}
							<p>Learn more &rarr;</p>
						</div>
					</div>
				</a>
			</div>
		</article>
		<div class="event-cards">
			{% assign numberOfWides = 0 %}
			{% for event in currentEvents limit: 6 %}
				{% assign i = forloop.index %}
				{% assign title = event.title %}
				{% assign start = event['Event Start Date'] %}
				{% assign end = event['Event End Date'] %}
				{% assign url = event.url %}

				{% case i %}
					{% when 1 %}
						{% if event['Event Image'] and event['Event Image'] != '' %}
							{% assign img = event['Event Image'] %}
							{% include event-card.html title=title start=start end=end url=url image=img %}
							{% assign numberOfWides = numberOfWides | plus: 1 %}
						{% else %}
							{% include event-card.html title=title start=start end=end url=url %}
						{% endif %}
					{% when 2 %}
						{% if numberOfWides == 0 and event['Event Image'] and event['Event Image'] != '' %}
							{% assign img = event['Event Image'] %}
							{% include event-card.html title=title start=start end=end url=url image=img %}
							{% assign numberOfWides = numberOfWides | plus: 1 %}
						{% else %}
							{% include event-card.html title=title start=start end=end url=url %}
						{% endif %}
					{% when 3 %}
						{% if numberOfWides == 1 and event['Event Image'] and event['Event Image'] != '' %}
							{% assign img = event['Event Image'] %}
							{% include event-card.html title=title start=start end=end url=url image=img %}
							{% assign numberOfWides = numberOfWides | plus: 1 %}
						{% else %}
							{% include event-card.html title=title start=start end=end url=url %}
						{% endif %}
					{% when 4 %}
						{% if numberOfWides <= 1 and event['Event Image'] and event['Event Image'] != '' %}
							{% assign img = event['Event Image'] %}
							{% include event-card.html title=title start=start end=end url=url image=img %}
							{% assign numberOfWides = numberOfWides | plus: 1 %}
						{% else %}
							{% include event-card.html title=title start=start end=end url=url %}
						{% endif %}
					{% when 5 %}
						{% if numberOfWides == 0 and event['Event Image'] and event['Event Image'] != '' %}
							{% assign img = event['Event Image'] %}
							{% include event-card.html title=title start=start end=end url=url image=img %}
							{% assign numberOfWides = numberOfWides | plus: 1 %}
						{% elsif numberOfWides != 2 %}
							{% include event-card.html title=title start=start end=end url=url %}
						{% endif %}
					{% when 6 %}
						{% if numberOfWides == 0 %}
							{% include event-card.html title=title start=start end=end url=url %}
						{% endif %}
				{% endcase %}
			{% endfor %}
		</div>
	</div>
</section>

{% if pastEvents.size > 0 %}
	{% include archive-list.html classModifier="events" title="Archive of Past Events" posts=pastEvents %}
{% endif %}

{% comment %}
{% assign pastEvents = '' | split: '' %}
{% for event in site.events %}
	{% assign year = event['Event Start Date'] | date: '%Y' | times: 1 %}
	{% assign month = event['Event Start Date'] | date: '%m' | times: 1 %}
	{% assign day = event['Event Start Date'] | date: '%d' | times: 1 %}
	{% if year < currentYear %}
		{% assign pastEvents = pastEvents | push: event %}
	{% elsif month < currentMonth %}
		{% assign pastEvents = pastEvents | push: event %}
	{% elsif month == currentMonth and day < currentDay %}
		{% assign pastEvents = pastEvents | push: event %}
	{% endif %}
{% endfor %}
{% endcomment %}
