---
layout: master
---

<section class="hero">
	<h2>{{ page['Description'] }}</h2>
	<p><a href="">About the Foundation &rarr;</a></p>
	<a href="">Donate!</a>
</section>

<section>
	<article class="featured-story">
		<div class="featured-story__image"></div>
		<h4></h4>
	</article>
</section>

<section>
	<div class="front-news">
		<h3>Latest News</h3>
		{% for post in site.news %}
		{% assign i = forloop.index %}
		{% unless i > 3 %}
			{% assign title = post.title %}
			{% assign subtitle = post['Subtitle'] %}
			{% assign url = post.url %}
			{% include news-card.html title=title subtitle=subtitle url=url %}
		{% endunless %}
		{% endfor %}
	</div>
	<div class="front-events">
		<h3>Upcoming Events</h3>
		{% for event in site.events %}
		{% assign i = forloop.index %}
		{% unless i > 3 %}
			{% assign title = event.title %}
			{% assign date = event['Event Start Date'] %}
			{% assign time = event['Event Start Time'] %}
			{% assign url = event.url %}
			{% include event-card.html title=title date=date time=time url=url %}
		{% endunless %}
		{% endfor %}
	</div>
</section>

<section>
	<h3>Our Programs</h3>
	<p>Pellentesque faucibus velit a auctor tempor. Proin tristique lorem et est
		feugiat, non tempus justo sodales. Curabitur dapibus, mauris sed dapibus
		placerat, felis est consequat elit, id dictum turpis nibh eget enim.
		Vestibulum ut quam turpis. Proin convallis neque eget felis vehicula, ac
		faucibus augue aliquam. Vivamus vitae enim rutrum ipsum ultrices
		convallis.</p>
	<ul>
		<li>Scholarships & Grants</li>
		<li>School Funding</li>
		<li>Performing Groups & Events</li>
	</ul>
</section>

<section>
	<h3>Support the Foundation</h3>
	<p>Pellentesque faucibus velit a auctor tempor. Proin tristique lorem et est
		feugiat, non tempus justo sodales. Curabitur dapibus, mauris sed dapibus
		placerat, felis est consequat elit, id dictum turpis nibh eget enim.
		Vestibulum ut quam turpis. Proin convallis neque eget felis vehicula, ac
		faucibus augue aliquam. Vivamus vitae enim rutrum ipsum ultrices
		convallis.</p>
	<ul>
		<li><a href="">Make a Donation</a></li>
		<li><a href="">Volunteer</a></li>
		<li><a href="">Become a Member</a></li>
		<li><a href="">Become a Grantor</a></li>
	</ul>
	<img src="" />
</section>

{% include footer-sponsors.html %}
