---
layout: master
classes: front-page
---

{% assign currentYear = 'now' | date: '%Y' | times: 1 %}
{% assign currentMonth = 'now' | date: '%m' | times: 1 %}
{% assign currentDay = 'now' | date: '%d' | times: 1 %}
{% assign currentEvents = '' | split: '' %}
{% for event in site.events %}
	{% assign year = event['Event Start Date'] | date: '%Y' | times: 1 %}
	{% assign month = event['Event Start Date'] | date: '%m' | times: 1 %}
	{% assign day = event['Event Start Date'] | date: '%d' | times: 1 %}

	{% if year > currentYear %}
		{% assign currentEvents = currentEvents | push: event %}
	{% elsif year == currentYear and month > currentMonth %}
		{% assign currentEvents = currentEvents | push: event %}
	{% elsif year == currentYear and month == currentMonth and day >= currentDay %}
		{% assign currentEvents = currentEvents | push: event %}
	{% endif %}

{% endfor %}

<section class="page-banner page-banner--front">
	<div class="container">
		<div>
			<h2 class="typo--page-title page-title">{{ page['Intro Blurb'] }}</h2>
			<a class="typo--link" href="/about">{{ page['Intro Link Title'] }} &rarr;</a>
		</div>
		<a class="donate-badge" href="{{ site.paypal_share_url }}">
			<span class="typo--small-section-title">Donate!</span>
		</a>
	</div>
</section>

{% comment %}
*
* News Events
*
{% endcomment %}
<section class="news-events">
	<div class="container">

		{% assign featuredNews = site.news | where: 'Feature on Front Page?', true | first %}
		{% assign featuredEvent = site.events | where: 'Feature on Front Page?', true | first %}
		{% if featuredEvent %}
			{% include hero.html type='event' event=featuredEvent %}
		{% elsif featuredNews %}
			{% include hero.html type='news' post=featuredNews %}
		{% else %}
			<h1>NO FEATURED POST FOUND</h1>
		{% endif %}

		<div class="front-page-news">
			<!-- <a class="typo--link typo--small see-all" href="/news">See all &rarr;</a> -->
			<h3 class="page-section-title typo--section-title">Latest News</h3>
			<div class="news-cards">
				{% for post in site.news limit: 3 %}
					{% assign hed = post.title %}
					{% assign dek = post['Description'] %}
					{% assign url = post.url %}
					{% assign image = post['Main Image'] %}
					{% assign cat = post['Category'] %}
					{% include news-card.html hed=hed dek=dek url=url image=image cat=cat classModifier="front-page" %}
				{% endfor %}
			</div>
		</div>
		<div class="front-page-events">
			<!-- <a class="typo--link typo--small see-all" href="/events">See all &rarr;</a> -->
			<h3 class="page-section-title typo--section-title">Upcoming Events</h3>
			<div class="event-cards">
				{% assign needFour = false %}
				{% for event in currentEvents limit: 4 %}
					{% assign i = forloop.index %}
					{% assign title = event.title %}
					{% assign start = event['Event Start Date'] %}
					{% assign end = event['Event End Date'] %}
					{% assign url = event.url %}

					{% if i == 1 %}
						{% if event['Event Image'] and event['Event Image'] != '' %}
							{% assign img = event['Event Image'] %}
							{% include event-card.html title=title start=start end=end url=url image=img classModifier="front-page" %}
						{% else %}
							{% assign needFour = true %}
							{% include event-card.html title=title start=start end=end url=url classModifier="front-page" %}
						{% endif %}
					{% elsif i == 3 %}
						{% if needFour == true and event['Event Image'] and event['Event Image'] != '' %}
							{% assign needFour = false %}
							{% assign img = event['Event Image'] %}
							{% include event-card.html title=title start=start end=end url=url image=img classModifier="front-page" %}
						{% else %}
							{% include event-card.html title=title start=start end=end url=url classModifier="front-page" %}
						{% endif %}
					{% elsif i == 4 %}
						{% if needFour == true %}
							{% include event-card.html title=title start=start end=end url=url classModifier="front-page" %}
						{% endif %}
					{% else %}
						{% include event-card.html title=title start=start end=end url=url classModifier="front-page" %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% comment %}
*
* OUR PROGRAMS
*
{% endcomment %}
<section class="our-programs page-section page-section--2col">
	<div class="container">
		<div class="col">
			<h3 class="page-section-title typo--section-title">{{ page['Programs Section Title'] }}</h3>
			<p class="our-programs__copy">{{ page['Programs Section Text'] }}</p>
		</div>
		<ul class="programs__link-list">
			{% assign programs = site.programs | sort:'position' %}
			{% for item in programs limit: 4 %}
				<li><a class="typo--small-section-title" href="/programs/#{{ item.title | downcase | replace: ' ', '-' }}"><span>{{ item.title }}</span></a></li>
			{% endfor %}
		</ul>
	</div>
</section>

{% comment %}
*
* SUPPORT THE FOUNDATION
*
{% endcomment %}
<section class="support-the-foundation page-section page-section--2col">
	<div class="container">
		<div>
			<h3 class="page-section-title typo--section-title">{{ page['Support Section Title'] }}</h3>
			<p>{{ page['Support Section Text'] }}</p>
			<ul class="front-page-support-buttons">
				{% assign supports = site.support | sort:'position' %}
				{% for item in supports limit: 4 %}
					<li><a class="button button--dark typo--small-section-title" href="/support/#{{ item.title | downcase | replace: ' ', '-' }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="page-section__image" style="background-image: url({{ page['Support Section Image'] }});"></div>
	</div>
</section>
