---
layout: default
classes: news
---
{% comment %}
{% assign featuredPost = site.news | where: "title", "Featured News Article" %}
{% endcomment %}

{% assign nonFeaturedPosts = '' | split: '' %}
{% for post in site.news %}
	{% if post['Is Featured?'] == false %}
		{% assign nonFeaturedPosts = nonFeaturedPosts | push: post %}
	{% else %}
		{% assign featuredPost = post %}
	{% endif %}
{% endfor %}

{% assign archivedPosts = '' | split: '' %}
{% for post in nonFeaturedPosts offset: 9 %}
	{% assign archivedPosts = archivedPosts | push: post %}
{% endfor %}

<section class="latest-news">
	<article class="featured-hero">
		<div class="featured-hero__image"></div>
		<div class="featured-news-card">
			<b>Featured: {{ featuredPost.title }}</b>
		</div>
	</article>
	{% for post in nonFeaturedPosts limit: 9 %}
		{% assign hed = post.title %}
		{% assign dek = post['Subtitle'] %}
		{% assign url = post.url %}
		{% include news-card.html hed=hed dek=dek url=url %}
	{% endfor %}
</section>

{% include archive-list.html class="archive--news" title="Archive of Past News" posts=archivedPosts %}
