---
layout: master
classes: news-page news-page--secondary
---

{% assign related = '' | split:'' %}

{% for post in site.news %}
	{% if post.url != page.url %}
		{% assign related = related | push: post %}
	{% endif %}
{% endfor %}

<article class="article article--news">
	<div class="container">
		<a class="back-from-article typo--link" href="/news">&larr; Back to News</a>
		<header class="article-header">
			<div class="article-social-share">
				<a class="article-share-fb" href="#">{% include icons/facebook_icon.svg color="dark" %}</a>
				<a class="article-share-tw" href="#">{% include icons/twitter_icon.svg color="dark" %}</a>
				<a class="article-share-in" href="#">{% include icons/linkedin_icon.svg color="dark" %}</a>
			</div>
			<h1 class="article-hed typo--article-title">{{ page.title }}</h1>
			{% if page['Subtitle'] and page['Subtitle'] != '' %}
				<h3 class="article-dek typo--large-sans">{{ page['Subtitle'] }}</h3>
			{% endif %}
		</header>
		<div class="article-tags {% unless page.tags and page.tags.size != 0 %}none{% endunless %}">
			{% for tag in page.tags %}
				<a class="article-tag typo--link" href="">{{ tag }}</a>
			{% endfor %}
		</div>
		<div class="article-lead-image">
			<img src="{{ page['Main Image'] }}" />
			<p class="image-caption typo--caption">{{ page['Main Image Caption'] }}</p>
		</div>
		<div class="article-byline">
			<p>By {{ page['Author'] }}<br>{{ page.date | date: "%B %e, %Y" }}</p>
		</div>
		<div class="article-body">
			{{ page.content }}
		</div>
	</div>
</article>

<section class="page-section related">
	<div class="container">
		<h3 class="page-section-title typo--section-title">More Recent News</h3>
		<div class="news-cards">
			{% for item in related limit: 3 %}
				{% assign hed = item.title %}
				{% assign dek = item['Subtitle'] %}
				{% assign url = item.url %}
				{% assign cat = item['Category'] %}
				{% assign img = item['Main Image'] %}
				{% include news-card.html hed=hed dek=dek url=url image=img cat=cat %}
			{% endfor %}
		</div>
	</div>
</section>
