---
layout: master
classes: news news--secondary
---

<div class="container">
	<a href="/news">&larr; Back to News</a>
</div>

<article class="news-article">
	<div class="container">
		<header class="article-header">
			<div class="article-social-share">
				<a href="#">{% include icons/facebook_icon.svg %}</a>
				<a href="#">{% include icons/twitter_icon.svg %}</a>
				<a href="#">{% include icons/linkedin_icon.svg %}</a>
			</div>
			<h1 class="article-hed typo--article-title">{{ page.title }}</h1>
			<h3 class="article-dek typo--large-sans">{{ page['Subtitle'] }}</h3>
		</header>
		<ul class="article-tags">
			{% for tag in page.tags %}
			<li><a href="">{{ tag }}</a></li>
			{% endfor %}
		</ul>
		<div class="article-lead-image">
			<img src="{{ page['Main Image'] }}" />
		</div>
		<div class="article-byline">
			<p>By {{ page['Author'] }}<br>{{ page.date | date: "%B %e, %Y" }}</p>
		</div>
		<div class="article-body">
			{{ page.content }}
		</div>
	</div>
</article>
