---
layout: default
classes: news-page
---

{% assign nonFeaturedPosts = '' | split: '' %}
{% for post in site.posts %}
	{% if post['Is Featured?'] == false %}
		{% assign nonFeaturedPosts = nonFeaturedPosts | push: post %}
	{% else %}
		{% assign featuredPost = post %}
	{% endif %}
{% endfor %}

{% assign archivedPosts = '' | split: '' %}
{% for post in nonFeaturedPosts offset: 6 %}
	{% assign archivedPosts = archivedPosts | push: post %}
{% endfor %}

<section class="latest-news">
	<div class="container">
		{% include hero.html type='news' post=featuredPost %}
		<div class="news-cards">
			{% for post in nonFeaturedPosts limit: 6 %}
				{% assign hed = post.title %}
				{% assign dek = post['Subtitle'] %}
				{% assign url = post.url %}
				{% assign cat = post['Category'] %}
				{% assign img = post['Main Image'] %}
				{% include news-card.html hed=hed dek=dek url=url image=img cat=cat %}
			{% endfor %}
		</div>
	</div>
</section>

{% if archivedPosts.size > 0 %}
	{% include archive-list.html classModifier="news" title="Archive of Past News" posts=archivedPosts %}
{% endif %}
