---
layout: default
classes: programs-page
---

{% assign panels = site.programs | sort: 'position' %}
{% include panel-list.html class="programs" panels=panels %}
<section class="other-program page-section page-section--2col">
	<div class="container">
		<div>
			<h3 class="typo--section-title page-section-title">{{ page['Banner Program Title'] }}</h3>
			{{ page['Banner Program Description'] | markdownify }}
			{% if page['Banner Program Button'][0]['Title'] != '' and page['Banner Program Button'][0]['URL'] != '' %}
				<a class="button button--dark typo--button" href="{{ page['Banner Program Button'][0]['URL'] }}">{{ page['Banner Program Button'][0]['Title'] }} &rarr;</a>
			{% endif %}
		</div>
		<div class="page-section__image" style="background-image: url({{ page['Banner Program Image'] }})"><div>
	</div>
</section>
