---
layout: default
classes: support-page
---

{% assign panels = site.support | sort: 'position' %}
{% include panel-list.html class="support" panels=panels %}
<section id="sponsors" class="footer-sponsors footer-sponsors--full">
	<div class="container">
		<h4 class="typo--small-section-title">Thanks to our sponsors:</h4>
		<ul class="footer-sponsors__list">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="footer-sponsors__small-list">
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
			<li class="typo--base">Sponsor Name TK</li>
		</ul>
	</div>
</section>
